[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
django-choices = "*"
numpy = "*"
pandas = "*"
django-pandas = "*"
django-extensions = "*"
djangorestframework = "*"
markdown = "*"
django-filters = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
model-mommy = "*"

[requires]
python_version = "3.6"
